.container{
    position: absolute;
    top: 520px;
    margin-left: 30px;
    font-weight: 800;
    color: rgb(82, 82, 82);
    border: transparent;
}
.head{
    font-weight: 900;
    font-size: 20px;
    color: #000;
}