.container{
    position: absolute;
    top: 560px;
    font-weight: 800;
    color: rgb(82, 82, 82);
    max-width: 220px;
    background-color: white;

}
.container:hover{
  width: 550px;
}
.head{
    font-weight: 900;
    font-size: 20px;
    color: #000;

}