.image-icon{
    max-width: min-content;
    max-height: min-content;
    width: 100px;
    height: 100px;
}
.navigation{
 color:black;

}
.navigation:hover{
    font-weight: 400;
    font-size: 20px;
}

.heading-title{
    color:black;
    
}
.link:hover{
    color:grey;
    font-weight: 100;
    font-size: 20px;

}
.heading{
    background-color: #FCCC04;
}
.heading-title{
    height: 100px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1.5rem sans-serif;
    cursor: pointer;
    will-change: transform;
}
.heading-title::before,
.heading-title::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  background-color: black;
  transition: all 250ms ease-in-out;
}

.heading-title::before {
  width: 2px;
  height: 100px;
  box-shadow: 298px 0 black;
}

.heading-title::after {
  height: 2px;
  width: 300px;
  box-shadow: 0 98px black;
}

.heading-title:hover::before {
  left: -5px;
  box-shadow: 305px 0 black;
}

.heading-title:hover::after {
  top: -5px;
  box-shadow: 0 105px black;
}